@use '../../../variables' as v;
@use 'sass:math';

.slot{
    width: 200px;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: v.$slot-color;
    padding: 5px;
    border: 5px solid v.$baseSlots-color;

    &:hover {
        border: 5px dashed v.$slotBorder-color;
    }
}