@use '../../variables' as v;

.hand {
    width: 100%;
    position: fixed;
    bottom: 0px;
    
    display: flex;
    justify-content: center;
    align-items: end;

    // background-color: lightgreen;
}